.wrapper {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    width: 100%;
}
.wrapper .box {
    text-align: center;
    background-color: #777;
    filter: none;
}
.wrapper .box:hover {
    cursor: pointer;
    filter: brightness(150%);
}
:not(.no-transition) {
    transition: filter 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

a {
    text-decoration: none;
    color: #111;
}
.box {
    position: relative;
}
.box > div {
    margin: 5px;
}
.colhex {
    position: absolute;
    bottom: 5;
    right: 5;
    color: #0000007f;
}
.title {
    font-weight: bolder;
    font-size: 110%;
}