body {
    margin: 0px;
    position: relative;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
}

#controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: #111111;
    padding: 10px;
    transition: ease-in-out opacity .2s;
}

#controls:not(:hover) {
    opacity: 0.1;
}
.smallgap {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

canvas {
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
form {
    display: inline;
}
.error {
    color: red;
}

input[type=number] {
    width: 5ch;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media (width <= 815px) {
    #wrapper {
        flex-direction: column-reverse;
        align-items: center;
        padding: 8px;
    }

    #zcoord {
        align-self: center;
    }
    
    #controls {
        align-self: stretch;
    }

    #func-controls, #zoom-button-controls {
        align-self: center;
    }
    
    #zoom-button-controls {
        padding-bottom: 8px;
    }

    #func-controls {
        padding-top: 8px;
    }

    * {
        font-size: 18px;
    }

    #zcoord {
        font-size: 16px;
    }

    #zcoord * {
        font-size: inherit;
    }
}