* {
    touch-action: manipulation;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0px 0px;
}
body.erase-mode {
    background: linear-gradient(#222 25%, #442)
}
body.readonly-mode {
    background: linear-gradient(#222 25%, #233)
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 7vh;
    background-color: #555;
}

#controls {
    display: flex;
    gap: 7px;
    padding: 6px;
    background-color: #555;
    height: 130px;
}
#controls > #mistake-controls, #fail-display {
    flex: 1 1 0;
}
#controls > #play-controls {
    flex: 2 1 0;
}

.split-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.split-column > * {
    flex: 1 1 0;
}
.split-row {
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.split-row > * {
    flex: 1 1 0;
}

#mistake-controls, #fail-display {
    align-items: stretch;
}

#play-controls {
    display: flex;
    flex-direction: column;
}
#play-controls > :first-child {
    flex: 2 1 0;
}
#play-controls > :nth-child(2) {
    flex: 1 1 0;
}

#speed-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

#speed-controls > :first-child {
    flex: 7 1 0;
}
#speed-controls > :nth-child(2) {
    flex: 1 1 0;
}

button, .btn {
    background-color: #333;
    border: 3px solid black;
    border-radius: 3px;
    color: white;
    padding: 15px 0px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    vertical-align: middle;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    background-color: #343;
    border-color: #121;
}
button.erase-mode {
    background-color: #771;
    border-color: #442;
}
button.erase-mode:active {
    background-color: #781;
    border-color: #452;
}
button.readonly-mode {
    background-color: #233;
    border-color: #011;
}
button.readonly-mode:active {
    background-color: #243;
    border-color: #032;
}

input {
    width: 0px;
}

@media (width <= 500px) {
    #wrapper {
        flex: 1 0 0;
    }
}

body:not(.readonly-mode) #fail-display {
    display: none;
}
body.readonly-mode #mistake-controls {
    display: none;
}

#fd-pass {
    background-color: #131;
    border-color: #020;
}
#fd-fail {
    background-color: #311;
    border-color: #200;
}
body.failed #fd-pass {
    display: none;
}
body:not(.failed) #fd-fail {
    display: none;
}