.wrapper {
    display: flex;
    gap: 30px;
}
#input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#colors {
    display: flex;
    flex-direction: column;
    width: 100px;
}
#colors > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#results {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#css-gradient {
    aspect-ratio: 512 / 64;
}

@media (width <= 700px) {
    .wrapper {
        flex-direction: column;
    }
}