.tex {
    flex: 1;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
}

.notCurrentFunc {
    color: #AAA;
}
.err {
    color: #F88;
}
.bigbutton {
    margin-top: 10px;
}

.box {
    border: solid #AAA;
    padding: 15px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vert-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-wrapper {
    min-height: 60px;
}

#funcInput {
    width: 30%;
}
input[type="number"] {
    width: 3ch;
}

@media (max-width: 300px) {
    html, input, button { font-size: 5vw; }
}

@media (max-width: 500px) {
    .box {
        flex-direction: column;
    }

    .tex {
        margin-top: 20px;
        text-align: center;
    }
}