@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #222;
    color: white;
}

* {
    font-family: inherit;
}

textarea {
    font-family: 'Fira Mono', sans-serif;
}
h2 {
    font-size: 150%;
    text-decoration: underline;
}