@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
    touch-action: manipulation;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0px 0px;
    font-family: 'Fira Sans', sans-serif;
}

body * {
    font-family: inherit;
}

body.railErase-mode {
    background: linear-gradient(#222 25%, #442)
}
body.readonly-mode {
    background: linear-gradient(#222 25%, #233)
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 7vh;
    background-color: #555;
    display: flex;
    justify-content: space-between;
    padding: 4px 6px;
}

/* navbar drop-down */
#nv-dd {
    display: flex;
    gap: 0 5px;
}

#nv-dd select {
    font-size: 18px;
}

/* navbar mode controls */
#nv-mode-controls {
    align-self: center;

    display: flex;
    align-items: center;
    gap: 5px;
}

/* The switch - the box around the slider */
.switch {
    --switch-width: 40px;
    --switch-height: 20px;
    --switch-padding: 2px;

    --ball-color: white;
    --off-color: #ccc;
    --on-color: rgb(38, 153, 38);
    
    position: relative;
    display: inline-block;
    width:  var(--switch-width);
    height: var(--switch-height);
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--off-color);
    -webkit-transition: .2s;
    transition: .2s;

    border-radius: var(--switch-height);
}
  
.switch .slider:before {
    position: absolute;
    content: "";
    height: calc(var(--switch-height) - 2 * var(--switch-padding));
    width:  calc(var(--switch-height) - 2 * var(--switch-padding));
    left:   var(--switch-padding);
    bottom: var(--switch-padding);
    background-color: var(--ball-color);
    -webkit-transition: .2s;
    transition: .2s;

    border-radius: 50%;
}
  
.switch input:checked + .slider {
    background-color: var(--on-color);
}
  
.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--on-color);
}
  
.switch input:checked + .slider:before {
    --trans: calc(var(--switch-width) - var(--switch-height));
    -webkit-transform: translateX(var(--trans));
    -ms-transform: translateX(var(--trans));
    transform: translateX(var(--trans));
}

.control-hud {
    display: flex;
    gap: 7px;
    padding: 6px;
    background-color: #555;
    height: 130px;
}

/* split-column, split-row: make a column or row that evenly divides space */
.split-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.split-column > * {
    flex: 1 1 0;
}
.split-row {
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.split-row > * {
    flex: 1 1 0;
}

/* modals */

/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.modal-container,
.modal-overlay {
    position: fixed; /* 1 */
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
}
 
 /**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
.modal-container {
    z-index: 2; /* 1 */
    display: flex; /* 2 */
}
 
 /**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.modal-container[aria-hidden='true'] {
    display: none; /* 1 */
}
 
 /**
  * 1. Make the overlay look like an overlay.
  */
.modal-overlay {
    background-color: rgba(43, 46, 56, 0.9); /* 1 */
}
 
 /**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.modal-content {
    margin: auto; /* 1 */
    z-index: 2; /* 2 */
    position: relative; /* 2 */
    background-color: #444; /* 3 */

    width: 75%;
    height: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button.modal-close-btn {
    font-size: 1.5em;
    padding: 0.25em;
    /* align-self: center; */
}

.modal-inner {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actives-grid {
    display: grid;
    grid-template: 
        ". b ." 1fr
        "c e a" 3fr
        ". d ." 1fr / 1fr 3fr 1fr;

    min-width: 150px;
    aspect-ratio: 1 / 1;
}
.actives-grid .btn {
    padding: 0;
}
.ag-tile {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actives-grid > :nth-child(1) {
    grid-area: a;
}
.actives-grid > :nth-child(2) {
    grid-area: b;
}
.actives-grid > :nth-child(3) {
    grid-area: c;
}
.actives-grid > :nth-child(4) {
    grid-area: d;
}
.actives-grid > :nth-child(5) {
    grid-area: e;
}

.hex-grid {
    /* modifiable parameters */
    --h-width: 100px;
    --h-height: calc(var(--h-width) * 0.8660254038);
    --h-gap: 4px;

    /* do not touch */
    --h-top-side: calc(.50 * var(--h-width));

    display: flex;
    flex-direction: column;
    gap: var(--h-gap);

    margin-bottom: calc(var(--h-height) / 2);
}

.hex-grid.odd > .hex-row:nth-of-type(odd),
.hex-grid.even > .hex-row:nth-of-type(even) {
    margin-left: calc(.75 * var(--h-width) + 2 * var(--h-gap));
}

.hex-row {
    display: flex;
    gap: calc(var(--h-top-side) + 4 * var(--h-gap));
    margin-bottom: calc(var(--h-height) / -2);
}
.hex-row div,
.hex-row button {
    clip-path: polygon(
        /* x, y */
        25% 0%, 
        calc(100% - 25%) 0%, 
        100% 50%, 
        calc(100% - 25%) 100%, 
        25% 100%, 
        0% 50%
        );

    width: var(--h-width);
    height: var(--h-height);

    border: none;
    background-color: white;
    filter: brightness(25%);
}

.hex-row label.radio-label input:checked + div,
.hex-row button:active,
.hex-row button.active {
    filter: none;
}

.modal-box {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-trio {
    flex: 1;
    align-self: stretch;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.modal-trio > :first-child {
    flex: 1 1 100%;
}

.train-list {
    display: flex;
    flex-flow: row wrap;
    --slot-gap: 3px;
    --divider-size: 3px;

    gap: var(--slot-gap);
}

.train-list > :first-child {
    padding-left: var(--slot-gap);
    border-left: var(--divider-size) solid black;
}
.train-list > :nth-of-type(9n),
.train-list > :last-child {
    padding-right: var(--slot-gap);
    border-right: var(--divider-size) solid black;
}

.tl-slot {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 30px;
}

.tl-slot-inner {
    background-color: #333;
    aspect-ratio: 1 / 2;
}
.tl-slot .btn {
    padding: 0;
}

@media (width < 700px) {
    .modal-content {
        width: calc(100% - 15vw);
        height: calc(100% - 15vw);
    }

    .modal-inner {
        flex-direction: column;
    }

    .hex-grid {
        --h-width: 75px;
        --h-gap: 2px;
    }

    .modal-trio {
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .modal-trio > :first-child {
        flex: none;
        order: 2;
    }
    .modal-trio > :nth-child(2) {
        order: 1;
    }
    .modal-trio > :nth-child(3) {
        order: 3;
    }
}

/* rail-mode controls */
#mistake-controls, #fail-display {
    flex: 1 1 0;
    align-items: stretch;
}
#play-controls {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
}
#play-controls > :first-child {
    flex: 2 1 0;
}
#play-controls > :nth-child(2) {
    flex: 1 1 0;
}

#speed-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}
#speed-controls > :first-child {
    flex: 7 1 0;
}
#speed-controls > :nth-child(2) {
    flex: 1 1 0;
}


#fd-pass {
    background-color: #131;
    border-color: #020;
}
#fd-fail {
    background-color: #311;
    border-color: #200;
}

/* level-mode controls */
#edit-grid {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
#edit-tile-btn {
    padding: 15px 15px;
}

label.radio-label {
    display: flex;
    align-items: stretch;
}
label.radio-label input {
    display: none;
}
label.radio-label input + div {
    flex: 1;
}
label.radio-label input:checked + div.btn {
    background-color: #354;
    border-color: #243;
    border-style: inset;
}

/* button display */
.btn {
    background-color: #333;
    border: 3px outset #222;
    color: white;
    padding: 15px 0px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
.btn:not(button) {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn:disabled {
    background-color: #222;
    border: 3px inset #222;
    color: #888;
}
button.btn:enabled:active {
    background-color: #343;
    border-color: #232;
    border-style: inset;
}
body.railErase-mode button#b-erase {
    background-color: #771;
    border-color: #552;
}
body.railErase-mode button#b-erase:enabled:active {
    background-color: #781;
    border-color: #452;
}
body.readonly-mode button#b-start {
    background-color: #233;
    border-color: #122;
}
body.readonly-mode button#b-start:enabled:active {
    background-color: #243;
    border-color: #132;
}

/* input settings */
input[type=number] {
    width: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}